<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafit.community.dao.CommunityDao">

		<!-- 게시글 기본 CRUD -->
	<select id="selectCommunityList" parameterType="CommunitySearchCondition" resultType="CommunityResponseDto">
		SELECT 
			c.id,
			c.title,
			c.category,
			c.upload_date,
			m.nickname
		FROM community c join member m
			on c.member_id = m.id 
		<where>
			<if test="memberId != null">
			and member_id = #{memberId}
			</if>
			<if test="category != null">
			and category = #{category}
			</if>
			<if test="word != null">
			and title like concat('%',#{word},'%') 
			</if>
		</where>
		order by ${orderBy} ${orderByDir}
 		limit #{pageSize} offset #{offSet};
	</select>
	
	<select id="selectCommunityDetail" parameterType="Long" resultType="CommunityResponseDto">
		select 
			c.*,
			m.nickname
		from community c join member m
			on c.member_id = m.id
		where c.id = #{id};
	</select>

	<insert id="insertCommunity" parameterType="CommunityRequestDto">
		insert into community (type, title, content, upload_date, video_directory, thumbnail_directory, category, member_id)
		values (#{type}, #{title}, #{content}, now(), #{videoDirectory}, #{thumbnailDirectory}, #{category}, #{memberId}); 
	</insert>
	
	<select id="recommendCommunityByCategoryId" parameterType="Integer" resultType="AIRecommendPostDto">
		select id, title, 
			LEFT(content, 30) as content_part
		from community
		<if test="category!=null and category > 0">
		where category = #{category};
		</if>
		order by rand() limit 200;
	</select>
	

	<update id="updateCommunity" parameterType="CommunityRequestDto">
		update community
		set title=#{title}, content=#{content}, update_date=now(), video_directory=#{videoDirectory}, thumbnail_directory=#{thumbnailDirectory}, category_id=#{categoryId}  
		where id = #{id}
	</update>
	
	<delete id="deleteCommunity" parameterType="Long">
		delete from community
		where id=#{id}
	</delete>
	
	<!-- 게시판 부가기능 -->
	<update id="updateViewCnt" parameterType="Long">
		update community
		set views = views+1
		where id=#{id};
	</update>
	<!-- id로 해당 유저가 업로드한 게시물 총 조회수 반환 -->
	<select id="findTotalViewsById" parameterType="Long" resultType="Long">
		SELECT IFNULL(SUM(views), 0)
		FROM community
		WHERE member_id = #{id};
	</select>
	<select id="findTotalPostedById" parameterType="Long" resultType="Integer">
		select count(*)
		from community
		where member_id = #{id}
	</select>
</mapper>