<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafit.video.dao.VideoDao">
	<select id="getVideoCntByCategory" parameterType="Integer" resultType="Integer">
		select count(*)
		from youtube_video
		where category = #{category};
	</select>
	
	<insert id="insertVideo" parameterType="List">
		insert into youtube_video (title, youtube_id, channel_name, view_cnt, category)
		values 
		<foreach collection="list" item="video" separator=",">
			(#{video.title}, #{video.youtubeId}, #{video.channelName}, #{video.viewCnt}, #{video.category})
		</foreach>
		ON DUPLICATE KEY UPDATE
        title = VALUES(title),                 
        youtube_id = VALUES(youtube_id),       
        channel_name = VALUES(channel_name),
        view_cnt = VALUES(view_cnt),
        category = VALUES(category)
	</insert>
	
	<select id="recommendVideosByCategoryId" parameterType="Integer" resultType="AIRecommendVideoDto">
		select id, youtube_id, title
		from youtube_video 
		<if test="category!=null and category > 0">
		where category = #{category}
		</if>
		order by rand() limit 100
	</select>
	
	<select id="selectVideosByCategoryId" parameterType="Integer" resultType="VideoDto">
		select id, youtube_id, title
		from youtube_video 
		<if test="category!=null and category > 0">
		where category = #{category};
		</if>
	</select>
	
	<select id="selectVideos" resultType="VideoDto">
		select id, youtube_id
		from youtube_video
	</select>
	
	<select id="selectRandomVideo" parameterType="Integer" resultType="VideoDto">
		SELECT id, youtube_id
		FROM youtube_video
		WHERE category = #{category}
		  AND id >= (
		    SELECT FLOOR(RAND() * (MAX(id) - MIN(id) + 1)) + MIN(id)
		    FROM youtube_video
		  )
		LIMIT 5;
	</select>
	
	<select id="selectVideoIdById" parameterType="Long" resultType="String"> 
	 select youtube_id
	 from youtube_video
	 where id = #{id}
	</select>
</mapper>